<ion-header>
  <ion-toolbar class="class1">
    <ion-menu-toggle class="class1">
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Host Meeting</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="true">
  <br />
  <ion-card>
    <ion-card-header color="secondary" class="login-card-header">
      <ion-card-title>Start your first meeting</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form padding-right [formGroup]="inviteForm">
        <ion-item lines="inset">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            class="form-control"
            placeholder="Please Enter the attendee_email"
            formControlName="attendee_email"
          ></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">channel name</ion-label>
          <ion-input
            class="form-control"
            placeholder="Please Enter the channel_name"
            formControlName="channel_name"
          ></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-datetime
            type="datetime"
            class="form-control"
            formControlName="host_meeting_start_time"
            displayFormat="YYYY-MM-DDTHH:mm:00"
            placeholder="Enter start time"
          ></ion-datetime>
        </ion-item>
        <ion-item lines="inset">
          <ion-datetime
            type="datetime"
            class="form-control"
            formControlName="host_meeting_end_time"
            displayFormat="YYYY-MM-DDTHH:mm:00"
            placeholder="Enter end time"
          ></ion-datetime>
        </ion-item>
        <ion-item lines="none" class="ion-item-right-margin">
          <ion-button size="default" slot="end" type="submit" (click)="Invite()"
            >Invite</ion-button
          >
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
