<ion-content class="content" padding="true">
  <div class="center">
    <h1>Sign In</h1>
  </div>
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <div
          class="noborder"
          no-lines
          *ngIf="!loginForm.controls.mobileno.valid && (loginForm.controls.mobileno.dirty || submitAttempt)"
        >
          <p text-left text-wrap class="error" color="danger">
            Please enter the mobile number
          </p>
        </div>
        <ion-label position="stacked">Username</ion-label>
        <ion-input
          formControlName="mobileno"
          autocomplete="off"
          type="tel"
          name="mobileno"
        ></ion-input>
      </ion-item>
      <!-- [(ngModel)]="postData.mobileno" -->

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          autocomplete="off"
          formControlName="password"
          type="password"
          name="password"
        ></ion-input>
        <!-- [(ngModel)]="postData.password" -->
      </ion-item>
      <div
        class="noborder"
        no-lines
        *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
      ></div>
    </ion-list>
    <p>
      Dont have account ?
      <a routerLink="/signup">Create Account</a>
    </p>

    <ion-button
      shape="round"
      expand="block"
      color="secondary"
      (click)="loginAction()"
      >Login</ion-button
    >
  </form>
</ion-content>
