<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Join Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ng-app="stopwatch">
    <div class="timesetter" ng-controller="timeController as times">
      <h2>Call End In</h2>
      <countdown
        #cd
        [config]="{ leftTime:2400,demand:true}"
        (event)="handleEvent($event)"
      ></countdown>
    </div>
  </div>

  <div #agora_local id="agora_local" (click)="toggleView()"></div>

  <div class="remote-containers">
    <ion-grid>
       <ion-row>
        <ion-col *ngFor="let remote of remoteCalls;">
    <div
      class="remote_calls"
      [id]="remote"
      (click)="Toggle_Stream(remote)"

      ></div>
    </ion-col>
    </ion-row>
    </ion-grid>
  </div>

  <ion-input
    class="input"
    autocomplete="off"
    type="text"
    name="chanelname"
    [(ngModel)]="Channel_name"
  ></ion-input>

  <ion-button (click)="startCall()" (click)="cd.resume()" color="dark"
    >start Call
  </ion-button>

  <ion-button (click)="leave()" (click)="cd.stop()" color="dark"
    >End Call</ion-button>

</ion-content>
