<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>Join Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ng-app="stopwatch">
    <div class="timesetter" ng-controller="timeController as times">
      <h2>Call End In</h2>
      <countdown
        #cd
        [config]="{ leftTime:2400,demand:true}"
        (event)="handleEvent($event)"
      ></countdown>
      <br>
       <ion-button (click)="leave()" (click)="cd.stop()" color="dark">End Call</ion-button>
    </div>

  </div>


  <div #container class="container" >
  		<div class="row" style="display:flex">
  			<div class="col-sm">
  				<div style="float: left">
  					<i class="fa fa-arrow-circle-left" (click)="scrollLeft()" [ngStyle]="{'cursor':'pointer'}"
  						id="left_arrow"></i>
  					<!--<button (click)="scrollLeft()">left</button>-->
  				</div>
  			</div>
  			<div class="col-10">
  				<div #widgetsContent class="middle">
  					<div [ngClass]="'agora_remote'" *ngFor="let remote of remoteCalls" [id]="remote"
  						(click)="Toggle_Stream(remote)" [ngStyle]="{'cursor':'pointer'}"></div>
  				</div>
  			</div>
  			<div class="col-sm">
  				<div style="float: right">
  					<i class="fa fa-arrow-circle-right" (click)="scrollRight()" [ngStyle]="{'cursor':'pointer'}"
  						id="right_arrow"></i>
  					<!--<button (click)="scrollRight()">right</button>-->
  				</div>
  			</div>
  		</div>
  	</div>


  <div #agora_local id="agora_local" (click)="toggleView()"></div>

</ion-content>
