<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-menu-toggle>
    <ion-title>about-us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="primary">
      <h1>
        About-us
      </h1>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text color="dark">
      <p>
        acuMeet is a video conferencing solution by Acupace Technologies Pvt
        Ltd. It assists masses in the current digital and progressive era,
        aiding diversity of enterprises to operate smoothly and securely without
        facing any financial crisis, bridging the communication gap between each
        entity with its easy accessibility and user-friendly interface.
      </p>
    </ion-text>
  </ion-item>
</ion-content>
