h2 {
  margin-left: 10px;
  color: rgb(60, 191, 243);
  font: italic small-caps bold 20px Georgia, serif;
}
h3 {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-decoration-color: grayscale($color: #463232c4);
}

.class1 {
  float: left;
}
ion-toolbar {
  --ion-background-color: #0f4c81 !important;
}
ion-title {
  color: white;
  text-align: center;
}
