<ion-toolbar>
  <ion-menu-toggle class="class1">
    <ion-icon name="menu" color="light"></ion-icon>
  </ion-menu-toggle>
  <ion-title>FAQ</ion-title>
</ion-toolbar>
<ion-content fullscreen>
  <ion-card>
    <h2>Where do I download the of Acumeet App?</h2>
    <h3>
      Acumeet can be easily install from our
      <a href="www.accumeet.com">Download Center.</a>
    </h3>
  </ion-card>

  <ion-card>
    <h2>How do I signup for Acumeet?</h2>
    <h3>
      You can sign up for a free Acumeet account at
      <a href="www.accumeet.com">accumeet.in/signup.</a>
    </h3>
  </ion-card>

  <ion-card>
    <h2>How do I join a Acumeet meeting?</h2>
    <h3>
      You can join a meeting by clicking the meeting link or manually filling
      the Meeting ID and Password ,send by the host.
      <a href="www.accumeet.com">Know more</a>
    </h3>
  </ion-card>

  <ion-card>
    <h2>How do I share my screen?</h2>
    <h3>
      Click Share in your meeting and choose the screen that you would like to
      share. <a href="www.accumeet.com">Know more</a>
    </h3>
  </ion-card>

  <ion-card>
    <h2>How do I reset my password?</h2>
    <h3>
      You can easily change password by clicking Edit Profile Under Profile
      Section.
    </h3>
  </ion-card>

  <ion-card>
    <h2>How do I reset my password?</h2>
    <h3>
      You can easily change password by clicking Edit Profile Under Profile
      Section.
    </h3>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-item>
    <ion-label position="floating">Ask Question</ion-label>
    <ion-textarea class="textarea" name="msg" row="100" col="20"></ion-textarea>

    <ion-button color="primary" type="submit">Submit</ion-button>
  </ion-item>

  <ion-item-divider></ion-item-divider>
  <ion-item-divider></ion-item-divider>
  <ion-item-divider></ion-item-divider>
</ion-content>
